
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') */

.outer-container-signup{
    width: 450px;
    height: 600px;
    margin: auto;
    background-color: white;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.inner-container-signup{
    width: 400px;
    height: 600px;
    background-color: white;
}

.inner-container-signup .title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat",sans-serif;
    margin-top: 15px;
    background-color: white;
    margin-bottom: 15px;
}

.inner-container-signup form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner-container-signup form input{
    width: 97%;
    height: 50px;
    border: 2px solid rgb(162, 184, 198);
    outline: none;
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}
.inner-container-signup .eyeicon{
    background-color:transparent;
    cursor: pointer;
    position: relative;
    left: 170px;
    bottom: 34px;
    
    
}


.inner-container-signup form button{
    width: 97%;
    height: 50px;
    /* border: 2px solid rgb(162, 184, 198); */
    border: 0px;
    outline: none;
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(0, 98, 255);
    color: white;
}

.inner-container-signup p{
    background-color: white;
    display: inline;
}

.inner-container-signup .signup-link{
    background-color: white;
    text-decoration: none;
}

.inner-container-signup .donot-account{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container-signup .separation{
    width: 100%;
    height: 10px;
    background-color: transparent;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 10px 0;

}
.inner-container-signup .line{
    width: 44%;

}

.inner-container-signup .or-statement{
    margin: 0 5px;
    font-size: 15px;
    color: rgb(118, 118, 118);
    font-family: "Montserrat", sans-serif;
}
.inner-container-signup .signin-special{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 20px;
}


.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 6px;
    /* box-shadow: 0px -1px 1px rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25); */
    cursor: pointer;
    width: 97%;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }

.login-with-facebook-btn {
    transition: background-color .3s, box-shadow .3s;
    
    
    padding: 12px 16px 12px 42px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 6px;
    /* box-shadow: 0px -1px 1px rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25); */
    cursor: pointer;
    width: 97%;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    /* background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=); */
    background-color: #3b5998;
   
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
}

  svg{
    width: 18px;
	height: 18px;
    position: relative;
    right: 33%;
  }
			
